DATABASE_URL="postgresql://postgres:postgres@localhost:5432/gestion_personal_sytec"
JWT_SECRET=change_me
JWT_EXPIRES_IN=7d
PORT=4000
CORS_ORIGIN=http://localhost:3000,http://10.5.8.138:3000
ADMIN_CUIL=20000000000
ADMIN_PASSWORD=change_me
ADMIN_NAME=Administrador
ADMIN_EMAIL=

TZ=America/Argentina/Buenos_Aires
APP_TIMEZONE=America/Argentina/Buenos_Aires
