node_modules
dist
.env
.env.local
coverage
.pnpm-store
.DS_Store
db-store.json
*.log
uploads/*
!uploads/.gitkeep
!uploads/avatars/
uploads/avatars/*
!uploads/avatars/.gitkeep
!uploads/license-templates/
uploads/license-templates/*
!uploads/license-templates/.gitkeep
